.rl-collapsible-section-title {
  position: relative;
  text-decoration: underline;
  color: #EFEFEF;
}

.rl-collapsible-section-title button {
  background: none;
  border: 0;
  color: #EFEFEF;
  cursor: pointer;
  padding: inherit;
  text-align: left;
  text-decoration: inherit;
  width:100%;
  padding: 1rem 2rem;
  background-color: #0a4e99;
}

.rl-collapsible-section-title button:hover,
.rl-collapsible-section-title button:focus {
  background-color: #7F0C07;
}

.rl-collapsible-section-button-indicator {
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.5em);
}

.rl-collapsible-section-button-indicator:after {
  display: block;
  line-height: 1em;
}

.rl-collapsible-section-button-indicator:after {
  content: "\2014";
}

.rl-collapsed .rl-collapsible-section-button-indicator:after {
  content: "+";
}

.rl-collapsible-section-content {
  display: block;
}

.rl-collapsed .rl-collapsible-section-content {
  display: none;
}