.rl-collapsible-section-title {
  position: relative;
  text-decoration: underline;
}

.rl-collapsible-section-title button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: inherit;
  text-align: left;
  text-decoration: inherit;
}

.rl-collapsible-section-button-indicator:after {
  position: absolute;
  right: 0;
  content: "\2014";
}

.rl-collapsed .rl-collapsible-section-button-indicator:after {
  content: "+";
}

.rl-collapsible-section-title:hover,
.rl-collapsible-section-title:focus {
  color: #002D72;
}

.rl-collapsible-section-content {
  transition: height 0.3s ease-in-out;
  height: auto;
  overflow: hidden;
}

.rl-collapsed .rl-collapsible-section-content {
  height: 0!important;
}