.rl-collapsible-section-title {
  position: relative;
  text-decoration: underline;

}

.rl-collapsible-section-title button {
  color: #000;
  background-color: #FFF;
  border: 0;
  cursor: pointer;
  padding: inherit;
  text-align: left;
  text-decoration: inherit;
  width:100%;
  padding: 1rem 3rem 1rem 2rem;
}

.rl-collapsible-section-title button:hover {
  background-color: #004c9b;
  color: #FFF;
}

.rl-collapsible-section-button-indicator {
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.5em);
}

.rl-collapsible-section-button-indicator:after {
  display: block;
  line-height: 1em;
}

.rl-collapsible-section-button-indicator:after {
  content: "\2014";
}

.rl-collapsed .rl-collapsible-section-button-indicator:after {
  content: "+";
}

.rl-collapsible-section-content {
  display: block;
}

.rl-collapsed .rl-collapsible-section-content {
  display: none;
}

.rl-collapsible-section-toggle-button {
  background: #FFF;
  border: none;
  font-weight: 700;
}

.rl-collapsible-section-toggle-button:hover,
.rl-collapsible-section-toggle-button:focus {
  background: #004c9b;
  color: #FFF;
}